language: node_js
node_js: "8"

before_install:
  - stty cols 80

dist: trusty
sudo: required

addons:
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable

before_script:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - sleep 3

notifications:
  email:
    recipients:
      - anthonyklinga@gmail.com
    on_success: always # default: change
    on_failure: always # default: always
